h1 {
    background-color: yellow;
    width: fit-content;
    margin: auto;
}

section {
    background-color: lightblue;
    width: 60%;
    height:fit-content;
    margin: auto;
}

p {
    font-size: 20px;
    padding: 40px;
    margin-bottom: 50px;
}

#buttondiv {
    width: auto;
    height: 40px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

button {
    width: 105px;
    height: 30px;
    font-weight: bold;
    border-radius: 10px;
}

#forth {
    background-color: blue;
    color: white;
}

#inputdiv {
    width: 315px;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
}

#input {
    width: 200px;
    height: 60px;
    font-size: 35px;
    margin: auto;
}

#color {
    font-size: 30px;
    margin: auto;
}